#slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#slideshow img {
  height: 2000px;
  width: auto;
  display: none;
}

#slideshow img.active {
  display: block;
}
.button-container {
  display: flex;
  justify-content: center;
}
button {
  width: 300px;
  height: 150px;
  font-size: 50px;
}
